# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Create .gitkeep files to ensure folders are tracked by git
New-Item -ItemType File -Path assets\images\ui\cao_cao_investment\.gitkeep -Force
New-Item -ItemType File -Path assets\images\ui\portfolio_website\.gitkeep -Force
New-Item -ItemType File -Path assets\images\ui\prayer_box\.gitkeep -Force

New-item -ItemType File -Path assets\images\graphic\posters\social_media\.gitkeep -Force
New-item -ItemType File -Path assets\images\graphic\posters\print_materials\.gitkeep -Force
New-Item -ItemType File -Path assets\images\graphic\banners\.gitkeep -Force
New-Item -ItemType File -Path assets\images\graphic\logos\.gitkeep -Force
New-Item -ItemType File -Path assets\logos\.gitkeep -Force